<div class="ui middle aligned center aligned grid devise reset-password-form">
  <div class="column">
    <h2 class="ui image header">
      <%= link_to root_path, class: 'image' do %>
        <%= image_tag 'logo.svg', class: 'image' %>
      <% end %>
      <div class="content">
        Change your password
      </div>
    </h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui form large' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', placeholder: 'New password' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Password confirmation' %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: 'ui submit button' %>
      </div>
    <% end %>

    <div class="ui horizontal divider">
      Or
    </div>

    <%= link_to "Log in", new_session_path(resource_name), class: 'ui submit button' %>
  </div>
</div>
