<!DOCTYPE html>
<html>
  <head>
    <title>BlogApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui main text container">
      <h1 class="ui header">Blog application</h1>
      <p>This test application is developed by Alexander Demenchenko from iTechArt Group</p>
    </div>

    <% unless devise_controller? %>
      <%= render partial: 'layouts/partials/navigation' %>
      <div class="ui text container"><%= semantic_flash %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
